.aag-page-banner {
    background: #00060A;
    position: relative;
    color: #fff;
    min-height: 480px;
    overflow: hidden;
    /* margin-top: -90px !important; */
}

.aag-page-banner .aag-turbine-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 120%;
    max-width: 700px;
    max-height: 700px;
    object-fit: contain;
    transform: translate(35%, -12%);
    mix-blend-mode: hue;
    opacity: 0.75;

}

.aag-page-banner .aag-turbine-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 120%;
    max-width: 700px;
    max-height: 700px;
    object-fit: contain;
    transform: translate(-35%, 30%);
    mix-blend-mode: overlay;
    opacity: 0.75;
}

.aag-page-banner .airplane {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 750px;
    max-height: 400px;
    object-fit: contain;
    transform: translateY(15%);

}

.aag-page-banner .banner-overlay {
    background: rgba(1, 91, 163, .25);
    background: linear-gradient(45deg, rgba(1, 91, 163, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 86, 157, .5) 100%);
    min-height: inherit;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
}

.aag-page-banner .banner-overlay .banner__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.aag-page-banner .banner-overlay .banner__container.centered__banner {
    align-items: center;
}

.aag-page-banner .banner-overlay .banner__container h2 {
    font-size: 6rem;
    font-weight: 800;
}

.aag-page-banner .banner-overlay .banner__container h4 {
    margin-left: 25%;
}


@media screen and (max-width: 768px) {
    .aag-page-banner .banner-overlay .banner__container h2 {
        font-size: 4rem;
    }

    .aag-page-banner .banner-overlay .banner__container h4 {
        margin-left: 0;
    }
    
}